<div class="container">
  <h2>Random Name Picker</h2>
  <div class="input-section">
    <textarea
      [(ngModel)]="inputNames"
      placeholder="Enter names, newline or comma separated"
      rows="4"
      cols="30"
    ></textarea>
  </div>

  <div class="names-list" style="min-height: 400px">
    <h4>List of Names:</h4>
    <ul>
      @for (name of names; track name) {
        <li>{{ name }}</li>
      }

      @if (names.length === 0) {
        <li>-</li>
      }
    </ul>
  </div>

  <div class="button-section">
    <button (click)="addNames()">Add Names</button>
    <button (click)="pickRandomName()" [disabled]="names.length === 0">
      Pick
    </button>
  </div>

  @if (pickedName) {
    <div class="result">
      <h3>Next: {{ pickedName }}</h3>
    </div>
  }
</div>
